In [1]:
import pandas as pd
import numpy as np
import calendar as cal
import time

In [2]:
df = pd.DataFrame(pd.read_excel('../demomd/pipelines_bak.xlsx'))

In [4]:
#查看第一行记录
df.head(1)

,pipeline_id,author,author_email,branch,commit_id,commit_message,commit_date,pipeline_status
0,78,banggood,2934024400@qq.com,master,20fbfd388ab774eb5537e2197eea655c60a09f8d,first commit,2017-05-08 11:02:52,passed

In [5]:
# 下面开始数据分析
# 以我为例
author = '舒露'
print("now author: %s" % author)

now author: 舒露

In [6]:
# 筛选当前作者的数据
author_pipelines = df.loc[df['author'] == author]

In [7]:
# 查看第一条commit数据
first = author_pipelines.head(1)
print(first)

      pipeline_id author   author_email branch  \
2992         3100     舒露  shulubanggood    pub

                                     commit_id commit_message  \
2992  9630aae85fd3ce4ef2c0124356ce2ce44687b52f           提交测试

              commit_date pipeline_status
2992  2017-07-18 16:54:26          passed

In [8]:
#查看最后一条commit数据
last = author_pipelines.tail(1)
print(last)

       pipeline_id author   author_email   branch  \
70228       138347     舒露  shulubanggood  gbeta23

                                      commit_id commit_message  \
70228  1daf354c12ac78a88500e7b11b1ebb86a56e6239           test

               commit_date pipeline_status
70228  2018-06-29 17:56:47          passed

In [9]:
# 提取第一条数据里面的提交日期以及commit_id
first_commit_date = str(first['commit_date'].values[0])
first_commit_id = first['commit_id'].values[0]
print("第一次提交日期为: %s 提交的commit_id: %s" % (first_commit_date, first_commit_id))

第一次提交日期为: 2017-07-18 16:54:26 提交的commit_id: 9630aae85fd3ce4ef2c0124356ce2ce44687b52f

In [10]:
# 同样的我们提取最后一条里面的信息
last_commit_date = str(last['commit_date'].values[0])
last_commit_id = str(last['commit_id'].values[0])
print("最后一次提交日期为: %s 提交的commit_id: %s" % (last_commit_date, last_commit_id))

最后一次提交日期为: 2018-06-29 17:56:47 提交的commit_id: 1daf354c12ac78a88500e7b11b1ebb86a56e6239

In [11]:
# 获取用户提交过的分支以及提交数
used_branch_index = author_pipelines.groupby('branch')['pipeline_id'].count()
print(used_branch_index)

branch
beta7               1
countryDomain       1
gbeta22           111
gbeta23             4
gbeta4             68
gbeta5            550
gbeta6            362
gbeta7           2315
gbeta8              3
pub               235
Name: pipeline_id, dtype: int64

In [12]:
used_branch_index = author_pipelines.groupby('branch')['pipeline_id'].count().index.values
print(used_branch_index)

['beta7' 'countryDomain' 'gbeta22' 'gbeta23' 'gbeta4' 'gbeta5' 'gbeta6'
 'gbeta7' 'gbeta8' 'pub']

In [13]:
used_branch_values = author_pipelines.groupby('branch')['pipeline_id'].count().values
print(used_branch_values)

[   1    1  111    4   68  550  362 2315    3  235]

In [14]:
# 现在我们获取年份信息
# 设置日期为索引
author_pipelines['commit_date'].astype('str') #该更提交日期的数据类型为str
author_pipelines = author_pipelines.set_index('commit_date', drop=False)
# 先获取一个2017年份的日期列表
cals = []
year = 2017
for m in range(1, 13):
    d = cal.monthrange(year, m)
    # first_day = str(year)+'-'+str(m)+'-1'
    first_day = "%d-%d-%d" % (year, m, 1)
    timeArray = time.strptime(first_day, "%Y-%m-%d")
    first_day = time.strftime("%Y-%m-%d", timeArray)
    last_day = "%d-%d-%d 23:59:59" % (year, m, d[1])
    timeArray = time.strptime(last_day, "%Y-%m-%d %H:%M:%S")
    last_day = time.strftime("%Y-%m-%d %H:%M:%S", timeArray)
    # print("%d-%d-%d\t%d-%d-%d" % (year, m, 1, year, m, d[1]))
    cals.append([first_day, last_day])
print(cals)

[['2017-01-01', '2017-01-31 23:59:59'], ['2017-02-01', '2017-02-28 23:59:59'], ['2017-03-01', '2017-03-31 23:59:59'], ['2017-04-01', '2017-04-30 23:59:59'], ['2017-05-01', '2017-05-31 23:59:59'], ['2017-06-01', '2017-06-30 23:59:59'], ['2017-07-01', '2017-07-31 23:59:59'], ['2017-08-01', '2017-08-31 23:59:59'], ['2017-09-01', '2017-09-30 23:59:59'], ['2017-10-01', '2017-10-31 23:59:59'], ['2017-11-01', '2017-11-30 23:59:59'], ['2017-12-01', '2017-12-31 23:59:59']]

In [15]:
# 提取2017数据所有数据
month_count = []
all_counts = 0
for months in cals:
    month_data = author_pipelines[months[0]:months[1]]
    all_counts += month_data.pipeline_id.count()
    print('%s 到 %s 期间提交了 %d 次' % (months[0], months[1], month_data.pipeline_id.count()))
print('2017年一同提交了 %s 次' % all_counts)

2017-01-01 到 2017-01-31 23:59:59 期间提交了 0 次
2017-02-01 到 2017-02-28 23:59:59 期间提交了 0 次
2017-03-01 到 2017-03-31 23:59:59 期间提交了 0 次
2017-04-01 到 2017-04-30 23:59:59 期间提交了 0 次
2017-05-01 到 2017-05-31 23:59:59 期间提交了 0 次
2017-06-01 到 2017-06-30 23:59:59 期间提交了 0 次
2017-07-01 到 2017-07-31 23:59:59 期间提交了 48 次
2017-08-01 到 2017-08-31 23:59:59 期间提交了 458 次
2017-09-01 到 2017-09-30 23:59:59 期间提交了 448 次
2017-10-01 到 2017-10-31 23:59:59 期间提交了 151 次
2017-11-01 到 2017-11-30 23:59:59 期间提交了 217 次
2017-12-01 到 2017-12-31 23:59:59 期间提交了 149 次
2017年一同提交了 1471 次

In [16]:
#直接统计看数据是否正确
year_data = author_pipelines['2017-01-01':'2017-12-31'].pipeline_id.count()
# print('2017年一同提交了 %s 次' % year_data.size)
print(year_data)

1471

In [17]:
author_pipelines['date'] = [x[:7] for x in author_pipelines['commit_date']]
author_pipelines.head(1)

,pipeline_id,author,author_email,branch,commit_id,commit_message,commit_date,pipeline_status,date
commit_date,,,,,,,,,
2017-07-18 16:54:26,3100,舒露,shulubanggood,pub,9630aae85fd3ce4ef2c0124356ce2ce44687b52f,提交测试,2017-07-18 16:54:26,passed,2017-07

In [20]:
#数据透视表
pivot_df = author_pipelines[['branch', 'date']]
pivot_df.pivot_table(pivot_df, index=["branch"], columns=["date"], aggfunc=[len], fill_value=0)

                  len                                                          \
date          2017-07 2017-08 2017-09 2017-10 2017-11 2017-12 2018-01 2018-02
branch
beta7               0       1       0       0       0       0       0       0
countryDomain       0       0       0       0       0       0       0       0
gbeta22             0       0       0       0       0       0       0       0
gbeta23             0       0       0       0       0       0       0       0
gbeta4              0       0       0       0       0       0       0      37
gbeta5             14      73      12       0     115     141     195       0
gbeta6              0       0       0       0       0       0       2       0
gbeta7             33     340     404     140      73       1     234     249
gbeta8              0       0       0       0       0       0       3       0
pub                 1      44      32      11      29       7      40      10


date          2018-03 2018-04 2018-05 2018-06
branch
beta7               0       0       0       0
countryDomain       0       0       1       0
gbeta22             0      21      90       0
gbeta23             0       0       0       4
gbeta4             30       0       1       0
gbeta5              0       0       0       0
gbeta6              0       0      18     342
gbeta7            349     298      90     104
gbeta8              0       0       0       0
pub                29       7      17       8